/*body {
  background-color: #444;
  color: #fff;
}

div#sidebar, div.username {
  color: #fff;
}

div.flair {
  color: #cc0;
}

div.messages {
  background-color: #002b36;
  color: #839496;
}

div .mine .messages {
  background-color: #073642;
}

div#input-area {
  background-color: #333;
}

#input {
  background-color: #555;
  color: white;
}*/

/* oneboxes */
/*
div.onebox {
  color: #fff;
  background-color: black;
}

div.ob-status-text .ob-tweet {
  color: #fff;
}*/